* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

}
.container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 335px 40px 180px 230px;
    grid-template-areas: 
    "box1 box2 box2 box3"
    "box1 box5 box6 box3"
    "box4 box5 box6 box3"
    "box4 box7 box8 box8"
    ;
    margin: 30px;
    width: 80%;
    overflow: hidden;

}
.box1 {
    background-color: hsl(31, 66%, 93%);
    grid-area: box1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.box1 img {
    width: 200px;
    height: auto;
    align-self: center;
    position: absolute;
    top: 280px;
}
.text1 {
    align-self: center;
    margin-top: 62px;
    font-weight: 490;
    line-height: 34px;
    font-size: 40px;
    letter-spacing: -2px;
}
.box2 {
    background-color: hsl(256, 67%, 59%);
    grid-area: box2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.box2 img {
    width: 210px;
    height: auto;
    align-self: center;
}
.box2 h1 {
    color: white;
    font-size: 60px;
    font-weight: 460;
}
.box2 span {
    font-style: italic;
}
.box2 p {
    color: #d2bfed;
    margin-top: 5px;
    font-size: 20px;
}
.box3 {
    background-color: hsl(254, 88%, 90%);
    grid-area: box3;
    overflow: hidden;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 27px;
    text-align: left;
}
.box3 img {
    width: 310px;
    height: auto;
    margin-top: 35px;
    margin-left: 30px;
    position: relative;
    top: 100px;
}
.box3 h1 {
    font-weight: 540;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    top: 70px;
}
.box3 p {
    margin-top: 16px;
    font-size: 19px;
    margin-left: 20px;
    position: absolute;
    top: 476px;
}
.box4 {
    background-color: hsl(39, 100%, 71%);
    grid-area: box4;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.box4 img {
    width: 230px;
    height: auto;
    align-self: center;
    position: absolute;
    top: 650px;
}
.box4 h1 {
    font-weight: 530;
    line-height: 36px;
    letter-spacing: -2px;
    font-size: 44px;
    margin-left: 16px;
    margin-top: 10px;
}
.box5 {
    background-color: white;
    grid-area: box5;
    overflow: hidden;
    padding: 20px;
}
.box5 img {
    width: 300px;
    height: auto;
    margin-left: 62px;
}
.box5 h1 {
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 30px;
    font-size: 35px;
}
.box6 {
    background-color: hsl(39, 100%, 71%);
    grid-area: box6;
}
.box7 {
    background-color: white;
    grid-area: box7;
}
.box8 {
    background-color: hsl(256, 67%, 59%);
    grid-area: box8;
}

.box1, .box2, .box3, .box4, .box5,.box6, .box7, .box8 {
    border-radius: 10px;
}

.highlight {
    color: hsl(256, 67%, 59%);
    font-style: italic;
}
