* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #2c3043;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-areas: 
    "con1 con1 con2"
    "con3 con4 con2"
    ;
    width: 1400px;
    height: 600px;
    gap: 25px;
}
.con1 {
    grid-area: con1;
    background-color: #fc6057;
}
.con2 {
    grid-area: con2;
    background-color: #fda061;
}
.con3 {
    grid-area: con3;
    background-color: #01a787;
}
.con4{
    grid-area: con4;
    background-color: #1bc1a1;
}