button {
    color: red;
}

.btn-1 {
    color: blue;
}

#btn1 {
    color: orange;
}

#btn2 {
    color: cyan;
}

#btn3 {
    color: yellow;
}

#btn4 {
    color: green;
}

#btn5 {
    color: black;
}