body {
    font-family: "Outfit", sans-serif; 
}
div {
    background-color: green;
    color: white;
    width: 75px;
    text-align: center;
    border-radius: 5px;

    animation-name: bloop;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

@keyframes bloop {
    0% {
        background-color: green;
    }
    10% {
        background-color: cyan;
        transform: rotate(15deg);
    }
    15% {
        transform: translateX(500px);
    }
    40% {
        transform: translateX(0px) rotate(-360deg);
    }

}
