body {
    font-family: "Inter", serif;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    color: white;
    font-weight: 540;
}
h4 {
    color: hsl(75, 94%, 57%);
    font-weight: 570;
}
p {
    color: white;
    display: block;
}
button {
    color: white;
    background-color: #333333;
    border: none;
    width: 340px;
    display: block;
    padding: 20px;
    margin: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    
}
img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
div {
    background-color: #1f1f1f;
    padding: 40px;
    margin-top: 25px;
    border-radius: 20px;
}
button:hover {
    transition: 0.3s ease-in;
    background-color: #c4f82a;
}