
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  overflow-x: clip;
}

.sect1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ED145B;
    align-items: center;
    justify-content: center;
    font-family: "Arvo", serif;
}

.bgimg {
    width: 100vw;
    height: 100vh; 
    background-image: url('drinking.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    transform: translateY(-20px);
}

.bg {
    width: 100vw;
    height: auto;
    display: block;
}

.join {
    width: 100vw;
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.text1 {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: #ED145B;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 15px;
}

.text1 a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    line-height: 1.3;
    display: inline-block;
}

.sect2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 44px;
    justify-content: center;
}

.heading1 {
    font-family: "Arvo", serif;
    font-size: 28px;
    color: #652E8C;
    font-weight: 400;
}

.paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    color: #898989;
    line-height: 36.8px;
    width: 519px;
    height: auto;
}

.text2{
    position: relative;
    left: 240px;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.live {
  width: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 20px;               
  padding: 20px;
  box-sizing: border-box;
  margin-top: -890px;
}

.live img {
  max-width: 60%;
  height: auto;
}

.sect3{
    width: 100%;
    height: 103px;
    background-color: #ED145B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.contactMe {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.text3 {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: #ED145B;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 15px;
}

.text3 a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    line-height: 1.3;
    display: inline-block;
}

.sect4{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap; 
}

.images img {
  width: 100%;
  max-width: 50%; 
  height: auto;
  object-fit: cover;
  position: static;
}


.sect5{
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.agesix{
  font-family: "Arvo", serif;
  font-size: 23px;
  color: #652E8C;
  line-height: 43px;
  width: 100%;
  max-width: 800px;
}

.sect6{
  width: 100%;
  height: auto;
  padding: 20px;
}

.images2{
  display: flex;
  justify-content: center;
}

.images2 img{
  max-width: 40%;
  height: auto;
}

.sect7{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  flex-direction: column;
}

.gray{
  color: #898989;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
}

.prpl{
  color: #ED145B;
  font-size: 22px;
  font-weight: 900;
  font-family: "Arvo", serif;
}

.rant{
  width: 100%;
  max-width: 900px;
}

.rant p{
  line-height: 36.8px;
}

.sect8{
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.sitt{
  width: 100%;
  height: auto;
}

.fruits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.fruits p{
  color: #898989;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 36.8px;
}
.sect9{
  width: 100%;
  height: auto;
}
.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.about-image img {
  width: 400px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}
.about-image img:hover{
  filter: contrast(130%);
}

.about-text {
  background-color: #a77ec2;
  color: white;
  padding: 30px;
  max-width: 400px;
  font-family: Arial, sans-serif;
}

.about-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #652E8C;
}

.about-text ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  height: 436px;
  line-height: 30px;
}

.about-text ul li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 20px;
  font-size: 22px;
}

.about-text ul li::before {
  content: '›';
  position: absolute;
  left: 0;
  color: #652E8C;
  font-weight: bold;
}

.join-link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}















@media (min-width: 2560px){
  .sect1, .sect2, .sect3{
    width: 100%;
    overflow-x: hidden;
  }
  
  .text2{
    margin-left: 400px;
  }
  .live img{
    margin-right: 400px;
  }
}

@media (min-width: 1441px){
  .sect2{
    height: auto;
  }
  .text2 {
    left: 300px;
  }
  main{
    width: 100vw;
  }
  .live img{
    margin-left: 100px;
  }
  .paragraph{
    margin-right: 100px;
  }
}

@media (max-width: 1439px) and (min-width: 1025px) {
  .text2 {
    left: 180px;
  }
  .paragraph {
    width: 480px;
  }
  .sect1, .sect2, .sect3{
    width: 100%;
  }
  body{
    overflow-x: hidden !important;
  }
  .live img {
    margin-left: 200px;
  }
  .sect2{
    height: auto;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .text2 {
    left: 0;
    text-align: center;
  }
  .paragraph {
    width: 80%;
    font-size: 20px;
    margin: 0 auto 0;
  }
  .live {
    display: none;
  }
  .sect1, .sect2, .sect3{
    width: 100%;
  }
  body{
    overflow-x: hidden !important;
  }
  .sect2{
    height: auto;
  }
  .images, .images2 {
    flex-wrap: wrap;
  }
  .images img, .images2 img {
    max-width: 90%;
  }

}

@media(max-width: 840px) and (min-width: 768px){
  .about-text ul {
    height: auto;
  }
}

@media (max-width: 616px){
  .box{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .sect2 {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: auto;
  }

  .text2 {
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  

  .paragraph {
    width: 70%;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 0;
  }

  .container {
    display: none;
  }

  .live {
    display: none;
  }
  .sect3{
    display: none;
  }
  .images, .images2 {
    flex-wrap: wrap;
  }
  .images img, .images2 img {
    max-width: 100%;
  }
  .agesix {
    font-size: 20px;
    padding: 0 15px;
  }
  .gray, .prpl {
    font-size: 20px;
  }

  .about-text ul {
    height: auto;
  }
}