*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

#todo-input {
  flex: 1;
  padding: 10px;
}

#add-button {
  padding: 10px 15px;
  cursor: pointer;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#todo-list li {
  background: #e7e7e7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.completed {
  text-decoration: line-through;
  color: gray;
}

.edit, .delete {
  padding: 4px 8px;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: 5px
}


.edit {
  background-color: #ffd966;
}

.delete {
  background-color: #f08080;
}

#errorMessage {
    color: red;
    margin-top: 5px;
    font-size: 10px;
}

.task-buttons{
    margin-left: auto;
}

#todo-list li {
    display: flex;
}

#todo-list li input[type="checkbox"] {
  margin-right: 8px;
}

#todo-list li {
    display: flex;
}

.completed {
    color: grey;
    text-decoration: line-through;
}
